<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Detail</title>
  <style>
    form label, form input {
      display: block;
    }
  </style>
</head>
<body>
  <h1>Detail</h1>


    <%= mongoose %> 
  
    <br>
    <a href="/">home</a>
  </div>
</body>
</html>