<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Index</title>
  <style>
    form label, form input {
      display: block;
    }
  </style>
</head>
<body>
  <h1>Index</h1>
  <div class="container">
    <form action="/users" method="post">
      
      <label>
        Your Name: <input type="text" name="yourname">
      </label>
      
      <input type="submit" value="Submit">
    </form>
  </div>
</body>
</html>